.gallery__container {
    width: 100%;
    min-height: 100vh;
    background: white;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.gallery__container .title {
    font-size: 2em;
    font-weight: bold;
    color: #95ca4f;
    margin-top: 3em;
}

.gallery__container .desc {
    font-size: 2em;
    color: #1c1c1c;
    margin-bottom: 2em
}

.gallery__container .content__mode__normal {
    width: 1200px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2em;
    gap: 10px;
}

/* --------------------------- */
/* --------------------------- */
.gallery__container .content__mode__list {
    width: 100%;
    min-height: 100vh;
    background: white;
    display: flex;
    flex-flow: column;
    margin-top: 2em;
}

/* --------------------------- */
/* --------------------------- */
.gallery__container .more {
    width: 150px;
    color: silver;
    padding: .5em 0;
    text-align: center;
    cursor: pointer;
    border: 2px solid silver;
    border-radius: .5em;
    justify-self: center;
}

@media (max-width: 1200px) {
    .gallery__container .content__mode__normal {
        width: 100%;
        padding: 0 2em;
        justify-content: center;
        gap: 1em;
    }

    .gallery__container .title,
    .gallery__container .desc {
        padding: 0 1em;
        width: 100%;
    }
}

@media (max-width: 700px) {
    .gallery__container .title {
        font-size: 1.5em
    }

    .gallery__container .desc {
        font-size: 1.2em;
        margin-bottom: 1em;
    }
}

@media (max-width: 400px) {
    .gallery__container {
        gap: 0;
        padding: 0;
    }

    .gallery__container .content__mode__normal {
        padding: 0 1em;
        gap: 1em;
    }
}