.searchBar__container {
    width: 1200px;
    height: 60px;
    display: flex;
    gap: 10px;
}

.searchBar__container .search__input {
    width: calc(100% - 120px);
    height: 100%;
    border-radius: .5em;
}

.searchBar__container .search__input input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: .5em;
    border: 1px solid silver;
    padding-left: 1em;
}

.searchBar__container .mode__items__view {
    width: 120px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.searchBar__container .mode__items__view .item {
    width: 100%;
    height: 100%;
    border-radius: .5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1200px) {.searchBar__container{width: 100%; padding: 0 2em}}
@media (max-width: 600px) {.searchBar__container{padding: 0 1em}}
@media (max-width: 700px) {
    .searchBar__container {height: 40px}
    .searchBar__container .search__input {width: calc(100% - 80px)}
    .searchBar__container .mode__items__view {width: 80px}
}